@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanwebboldfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/iranyekan/eot/iranyekanwebthinfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanwebthinfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iranyekan/eot/iranyekanweblightfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanweblightfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanweblightfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranyekan/eot/iranyekanwebmediumfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanwebmediumfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranyekan/eot/iranyekanwebblackfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanwebblackfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot");
  src: url("../fonts/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff") format("woff"), url("../fonts/iranyekan/ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon/icomoon.eot?9viyq6");
  src: url("../fonts/icon/icomoon.eot?9viyq6#iefix") format("embedded-opentype"), url("../fonts/icon/icomoon.ttf?9viyq6") format("truetype"), url("../fonts/icon/icomoon.woff?9viyq6") format("woff"), url("../fonts/icon/icomoon.svg?9viyq6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\ea0c";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-alarm1:before {
  content: "\e951";
}

.icon-menu:before {
  content: "\e921";
}

.icon-search:before {
  content: "\e986";
}

.icon-trash:before {
  content: "\e9ac";
}

.icon-filter:before {
  content: "\ea5b";
}

.icon-stack:before {
  content: "\e92e";
}

.icon-download:before {
  content: "\e960";
}

.icon-arrow-up:before {
  content: "\ea3a";
}

.icon-arrow-down:before {
  content: "\ea3e";
}

.icon-tree:before {
  content: "\e9bc";
}

.icon-stats-dots:before {
  content: "\e99b";
}

.icon-alarm:before {
  content: "\e950";
}

.icon-wikipedia-w:before {
  content: "\e902";
}

.icon-edit:before {
  content: "\e900";
}

.icon-plus:before {
  content: "\e901";
}

.icon-down:before {
  content: "\e91a";
}

.icon-up:before {
  content: "\e91b";
}

.icon-home:before {
  content: "\e911";
}

.icon-arrow-l:before {
  content: "\e917";
}

.icon-arrow-r:before {
  content: "\e914";
}

.wrapper-list-page-salon-tolid {
  text-align: right;
  list-style-type: none;
  padding: 10px;
  margin: 15px 5px;
}
@media screen and (max-width: 1024.98px) {
  .wrapper-list-page-salon-tolid {
    margin: 0 65px 0 0;
  }
}
@media screen and (max-width: 992.98px) {
  .wrapper-list-page-salon-tolid {
    margin: 10px auto;
  }
}

.item-page-salon-tolid {
  position: relative;
  margin: 40px auto;
  width: 100%;
  background-color: #efefef;
  border-radius: 5px;
}

.table-person { 
    /*background-color: cadetblue;*/
  background-color: #ab3e16;
  margin: 20px 0;
}
.table-person tbody {
  background-color: #f1f1f1;
}

.list-setting-general {
  display: flex;
  text-align: right;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
  background-color: #efefef;
  border-radius: 5px;
  padding: 0;
}
@media screen and (max-width: 1024.98px) {
  .list-setting-general {
    flex-flow: wrap;
    align-items: flex-start;
  }
}

.list-person {
  display: flex;
  text-align: right;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  padding-right: 10px;
}
@media screen and (max-width: 576.98px) {
  .list-person {
    flex-flow: column;
    align-items: flex-start;
  }
}

.item-setting-general {
  width: 125px;
  text-align: right;
  flex-flow: column;
  display: flex;
  margin: 10px;
  border: 1px solid #E7cc8f;
  padding: 8px;
  border-radius: 20px; 
  /*background-color: cadetblue;*/
  background-color: #ab3e16;
  color: white;
}
@media screen and (max-width: 991.98px) {
  .item-setting-general {
    margin: 5px 0;
  }
}

input {
  width: 86px;
  height: 26px;
}
@media screen and (max-width: 991.98px) {
  input {
    margin: 3px 0;
  }
}

label {
  margin: 0 5px;
  white-space: nowrap;
}
@media screen and (max-width: 1024.98px) {
  label {
    margin: 0;
  }
}

button {
  width: 100px;
  font-size: 12px;
}

td {
  border-top: 0 !important;
  border-bottom: 1px solid #E7cc8f;
  padding: 5px;
}

thead {
  color: white;
  text-align: right;
}

.box-input {
  width: 160px;
}

.box-table {
  max-height: 375px;
  overflow: auto;
  margin: 10px 0;
}

.box-machine {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}
.box-machine li {
  margin: 10px;
  border: 1px solid #E7cc8f;
  padding: 8px;
  border-radius: 20px; 
  /*background-color: cadetblue;*/
  background-color: #ab3e16;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}
@media screen and (max-width: 1024.98px) {
  .box-machine {
    flex-flow: wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 567.98px) {
  .box-machine {
    display: flex;
    flex-flow: wrap;
  }
}

.stop {
  width: 122PX;
}

@media screen and (max-width: 991.98px) {
  .box-stop {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 567.98px) {
  .box-stop {
    flex-flow: column;
    display: flex;
    align-items: flex-start;
  }
}

.select-code {
  width: 480px;
  height: 150px;
  overflow: auto;
  border: 2px solid black;
  border-radius: 8px;
}
@media screen and (max-width: 567.98px) {
  .select-code {
    width: calc(100% + 115px);
  }
}
@media screen and (max-width: 320.98px) {
  .select-code {
    width: calc(100% + 60px);
  }
}

.btn-save {
  background-color: #F49F0A;
  color: white;
  width: 200px;
  height: 60px;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 600;
  margin: 3px;
}
@media screen and (max-width: 1024.98px) {
  .btn-save {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1024.98px) {
  .btn-save {
    margin: 10px auto;
  }
}

.btn-stop {
  white-space: nowrap;
  border: 1px solid white;
  padding: 8px 20px;
  background-color: #F49F0A;
  color: white;
  font-weight: 700;
  font-size: 15px;
  width: 230px;
  height: 40px;
  border-radius: 5px;
  margin: 15px 0 0;
}

.btn-setting {
  border: 1px solid #E7cc8f;
  background-color: #F49F0A;
  color: white;
  font-size: 12px;
  padding: 5px 15px;
  margin: 2px 5px;
  border-radius: 3px;
  width: 145px;
  border: 1px solid white;
}
@media screen and (max-width: 1024.98px) {
  .btn-setting {
    margin-top: 20px;
  }
}

.box-code-stop {
  display: inline-block;
  align-items: flex-start;
  margin: 15px 0;
}
@media screen and (max-width: 991.98px) {
  .box-code-stop {
    flex-flow: column;
    display: flex;
  }
}
@media screen and (max-width: 576.98px) {
  .box-code-stop {
    display: flex;
  }
}

.wrapper-box-stop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 1024.98px) {
  .wrapper-box-stop {
    flex-flow: column;
    align-items: center;
  }
}

.box-stop {
  list-style-type: none;
  flex-flow: wrap;
  display: flex;
}
.box-stop li {
  margin: 13px 0 2px 5px;
  border: 1px solid #c1c1c1;
  padding: 8px;
  border-radius: 20px;
 /* background-color: cadetblue;*/
  background-color: #ab3e16;
  color: white;
  width: 238px;
}

.box-selector-code {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  padding-left: 50px;
  margin: 5px;
}
@media screen and (max-width: 1024.98px) {
  .box-selector-code {
    margin-top: 15px;
  }
}

.box-title-part {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title-part {
  position: absolute;
  top: -35px;
  right: 15px;
  background-color: #efefef;
  padding: 6px 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  width: 145px;
  border-bottom: 0;
}

.wrapper-list-page-control {
  text-align: right;
  list-style-type: none;
  padding: 10px;
  margin: 15px 5px;
}
@media screen and (max-width: 1024.98px) {
  .wrapper-list-page-control {
    margin: 0 65px 0 0;
  }
}
@media screen and (max-width: 992.98px) {
  .wrapper-list-page-control {
    margin: 10px auto;
  }
}

.wrapper-box-tolid {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.list-info-tolid {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap;
  padding: 0;
}
@media screen and (max-width: 991.98px) {
  .list-info-tolid {
    justify-content: flex-start;
  }
}
.list-info-tolid li {
  margin: 10px;
  border: 1px solid #E7cc8f;
  padding: 8px;
  border-radius: 20px;
 /* background-color: cadetblue; */
  background-color: #ab3e16;
  color: white;
}
.list-info-tolid .item-btn-save-info {
  background-color: #F49F0A;
  width: 150px;
  text-align: center;
}
.list-info-tolid .item-btn-save-info button {
  background-color: #F49F0A;
  color: white;
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

.table-tolid {
  margin: 10px auto;
  background-color: #edeaea;
}
@media screen and (max-width: 767.98px) {
  .table-tolid {
    overflow: auto;
  }
}
.table-tolid thead {
  background: #efaa59;
  color: white;
}
.table-tolid td {
  border: 1px solid #edeaea;
  white-space: nowrap;
}
.table-tolid tr {
  border-top: 1px solid #edeaea;
}
.table-tolid caption {
  text-align: center;
  font-size: 25px;
  color: white;
  border: 1px solid white;
  border-bottom: 0;
 /* background-color: cadetblue; */
  background-color: #ab3e16;
}

.wrapper-box-tolid {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.item-page-control {
  position: relative;
  margin: 50px auto;
  width: 100%;
  background-color: #efefef;
}

.list-set-pallet {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  background-color: #efefef;
}
@media screen and (max-width: 991.98px) {
  .list-set-pallet {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 767.98px) {
  .list-set-pallet {
    flex-flow: column;
    align-items: flex-start;
  }
}
.list-set-pallet li {
  margin: 10px;
  border: 1px solid #E7cc8f;
  padding: 8px;
  border-radius: 20px;
  /*background-color: cadetblue;*/
  background-color: #ab3e16;
  color: white;
}

.box-list-info {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .box-list-info {
    flex-flow: column;
    align-items: flex-start;
  }
}

.list-info-general {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  background-color: #efefef;
}
@media screen and (max-width: 991.98px) {
  .list-info-general {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 767.98px) {
  .list-info-general {
    flex-flow: column;
    align-items: flex-start;
  }
}
.list-info-general li {
  margin: 10px;
  border: 1px solid #E7cc8f;
  padding: 8px;
  border-radius: 20px;
  /*background-color: cadetblue; */
  background-color: #ab3e16;
  color: white;
}

#btn-edit-control {
  background-color: #E7cc8f;
  color: #3a2b2b;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

#btn-save-control {
  border: 2px solid;
  background-color: #F49F0A;
  color: white;
  padding: 8px 36px;
  font-size: 20px;
  width: 180px;
  border-radius: 5px;
  white-space: nowrap;
  height: 50px;
}

.wrapper-box-control {
  display: flex;
  padding: 10px 0 20px 10px;
  margin: 10px 0;
  align-items: center;
}
@media screen and (max-width: 1024.98px) {
  .wrapper-box-control {
    flex-flow: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 991.98px) {
  .wrapper-box-control {
    justify-content: flex-start;
  }
}

.wrapper-box-main {
  padding: 0 15px;
  margin: 20px 0;
}
@media screen and (max-width: 1024.98px) {
  .wrapper-box-main {
    margin: 0 65px 0 0;
  }
}
@media screen and (max-width: 991.98px) {
  .wrapper-box-main {
    margin: 0;
  }
}

@media screen and (max-width: 576.98px) {
  tbody {
    flex-flow: column;
  }
}

.box-btn-change {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border: 1px solid gainsboro;
  padding: 10px;
}
@media screen and (max-width: 567.98px) {
  .box-btn-change {
    flex-flow: column;
  }
}

.btn-change-roller {
  border: 0;
  width: 200px;
  padding: 15px;
  font-size: 18px;
  margin: 5px;
  color: #3c3939;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  box-shadow: 1px 1px 1px 0 #E7cc8f !important;
  white-space: nowrap;
}

.list-info-roller {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.list-info-roller .box-list-info-roller {
  display: flex;
}

.table-info-roller {
  border: 1px solid gainsboro;
  background-color: #efefef;
  margin: 20px auto;
}
.table-info-roller tr {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
}
@media screen and (max-width: 576.98px) {
  .table-info-roller tr {
    flex-flow: column;
  }
}
.table-info-roller td {
  border: 1px solid gainsboro !important;
  margin: 0 2px;
  padding: 11px;
  border-radius: 20px;
  background-color: #efaa59;
  color: white;
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576.98px) {
  .table-info-roller td {
    margin: 6px 2px;
  }
}
.table-info-roller caption {
  text-align: center;
  font-size: 25px;
  color: white;
}

.box-table-change-roller {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

#save-info-color, #save-info-pallet, #edit-info-roller, #save-info-roller {
  background-color: #F49F0A;
  color: white;
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

#form-edit-roller {
  display: none;
}

.box-title-change-roller {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}

.title-form {
  font-size: 19px;
  background-color: white;
  border-radius: 3px;
  color: #6c757d;
  margin: 0 0 10px;
}

.box-date {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: center;
  color: white;
  background-color: #efefef;
  width: 100%;
  margin: 0 auto;
  height: 50px;
}
@media screen and (max-width: 576.98px) {
  .box-date {
    flex-flow: column;
    height: auto;
    padding: 8px 0;
    margin: 10px auto;
  }
}
.box-date label {
 /* background-color: cadetblue; */
  background-color: #ab3e16;
  margin: 5px;
  padding: 2px;
  width: 150px;
  text-align: center;
}
.box-date select {
  margin: 2px 0;
}
@media screen and (max-width: 576.98px) {
  .box-date select {
    margin: 6px 0;
  }
}

.btn-search {
  border: 0;
  background-color: #F49F0A;
  color: white;
  padding: 5px 4px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 #E7cc8f;
  white-space: nowrap;
}
@media screen and (max-width: 1024.98px) {
  .btn-search {
    margin-right: 10px;
  }
}
@media screen and (max-width: 576.98px) {
  .btn-search {
    margin-top: 10px;
  }
}

.box-coll-table {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-btn-report {
  display: flex;
  align-items: initial;
  justify-content: space-around;
  padding: 5px;
  background-color: #efefef;
  height: 60px;
  width: calc(100% - 30px);
  margin: 0 auto;
  border-radius: 5px;
}
@media screen and (max-width: 991.98px) {
  .box-btn-report {
    height: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .box-btn-report {
    flex-flow: column;
    align-items: center;
    height: auto;
  }
}
.box-btn-report button { 
    /*background-color: cadetblue;*/
  background-color: #ab3e16;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid white;
  width: 125px;
  padding: 3px;
}
@media screen and (max-width: 767.98px) {
  .box-btn-report button {
    margin: 5px 0;
    white-space: nowrap;
    height: auto;
    width: 225px;
  }
}

.table-report {
  width: calc(100% - 30px);
  background-color: #edeaea;
  margin: 10px auto;
}
@media screen and (max-width: 767.98px) {
  .table-report {
    overflow: auto;
  }
}
.table-report thead {
  background: #efaa59;
  color: white;
}
.table-report td {
  border: 1px solid gainsboro;
}
.table-report tr {
  border-top: 1px solid #edeaea;
}
.table-report caption {
  text-align: center;
  font-size: 25px;
  color: white;
}

.table-report-person {
  width: 97%;
  margin: 0 auto;
  background-color: #edeaea;
}
.table-report-person thead {
  background: #efaa59;
  color: white;
}
.table-report-person tbody {
  background: #f1f1f1;
  color: #585858;
}
.table-report-person td {
  border: 1px solid gainsboro;
  white-space: nowrap;
}
.table-report-person caption {
  text-align: center;
  font-size: 25px;
  color: white; 
  /*background-color: cadetblue;*/
  background-color: #ab3e16;
  border: 1px solid white;
}

.wrapper-box-filter {
  margin: 15px 0;
  padding: 15px 0;
}

.wrapper-box-btn-report {
  border: 1px solid #E7cc8f;
  margin: 10px 0;
  background-color: #efefef;
  border-radius: 5px;
}
@media screen and (max-width: 1024.98px) {
  .wrapper-box-btn-report {
    width: calc(100% - 130px);
    margin: 0 auto;
  }
}
.wrapper-box-btn-report .box-btn-report-control {
  display: flex;
  align-items: inherit;
  justify-content: space-around;
  padding: 4px 0;
}
@media screen and (max-width: 767.98px) {
  .wrapper-box-btn-report .box-btn-report-control {
    flex-flow: column;
    align-items: center;
  }
}
.wrapper-box-btn-report .box-btn-report-control button.active {
  background-color: #500a0a;
  color: black;
  transform: scale(0.9);
}
.wrapper-box-btn-report .box-btn-report-control button {
  background-color: #efaa59;
  color: white;
  font-size: 14px;
  border-radius: 19px;
  border: 0;
  width: 175px;
  height: 60px;
  margin: 2px;
  transition: 200ms all;
}
@media screen and (max-width: 767.98px) {
  .wrapper-box-btn-report .box-btn-report-control button {
    margin: 5px 0;
  }
}

@media screen and (max-width: 1024.98px) {
  .form-report .table-data {
    width: 85%;
    margin: 0 auto 20px;
  }
}

.form-full {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #efefef;
  color: white;
  border-radius: 5px;
  margin: 5px 0;
}
@media screen and (max-width: 1024.98px) {
  .form-full {
    width: calc(100% - 129px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 767.98px) {
  .form-full {
    flex-flow: column;
  }
}
.form-full label {
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center; 
  /*background-color: cadetblue;*/
  background-color: #ab3e16;
  height: 34px;
  color: white;
}
.form-full select {
  margin-right: 2px;
}
.form-full .btn-search {
  border: 2px solid;
  background-color: white;
  color: #585858;
  padding: 5px;
  font-size: 15px;
  width: 135px;
  border-radius: 5px;
  white-space: nowrap;
  margin: 5px;
}

.btn-print-control {
  border: 2px solid;
  background-color: #F49F0A;
  color: white;
  padding: 8px 36px;
  font-size: 20px;
  width: 180px;
  border-radius: 5px;
  white-space: nowrap;
}
.btn-print-control:hover {
  background-color: #0b4380;
  color: white;
}

.table-data thead { 
    /*background-color: cadetblue;*/
  background-color: #ab3e16;
  text-align: center;
  color: white;
  white-space: nowrap;
}
.table-data tbody {
  background-color: #f1f1f1;
  text-align: center;
  color: rgb(217, 173, 27);
}
.table-data tbody td {
  white-space: nowrap;
}
.table-data tfoot {
  background-color: #f1f1f1;
  text-align: center;
  color: #ac8930;
}
.table-data caption {
  text-align: center;
  font-size: 20px;
  color: white;
}

.title-report {
  font-size: 25px;
  background-color: #ffed8fba;
}

#fr-1, #fr-2, #fr-3, #fr-4, #fr-5, #fr-6, #fr-7, #fr-8, #fr-9, #fr-10, #fr-11, #fr-12 {
  display: none;
}

.form-report {
  text-align: center;
}

.box-date-period {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 575.98px) {
  .box-date-period {
    flex-flow: column;
  }
}

#fi-1, #fi-2, #fi-3, #fi-4, #fi-5, #fi-6, #fi-7, #fi-8, #fi-9 {
  display: none;
}

.box-btn-info-person {
  display: flex;
  align-items: inherit;
  justify-content: center;
  padding: 4px 0;
  background-color: #efaa596b;
}
.box-btn-info-person button {
  background-color: #efaa59;
  color: white;
  font-size: 14px;
  border-radius: 19px;
  border: 0;
  width: 175px;
  height: 60px;
  margin: 2px;
  transition: 200ms all;
}
.box-btn-info-person button.active {
  background-color: #f78700;
  color: black;
  transform: scale(0.9);
}

.box-date input {
  margin: 0 3px;
}

.box-table-edit-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-info {
  background-color: #F49F0A;
  color: white;
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

a, button {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: 0 0 0 !important;
  color: black;
}

body, html {
  font-family: iranyekan;
  /*background-color: #aeafab;*/
  background-color: #f8f3e6;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: iranyekan;
}

.wrapper-main {
  overflow-x: hidden;
}

.wrapper-body-page {
  padding: 10px;
  text-align: center;
}

.layer {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background: #201f1f94;
  z-index: 2;
  display: none;
}

.title-panel {
  color: #585858;
  font-size: 12px;
  padding: 0 0 0 20px;
  font-weight: 800;
}

.brand-link {
  margin: 10px 20px;
}

.list-sidebar-title {
  display: flex;
  align-items: inherit;
  flex-flow: column;
  list-style-type: none;
  padding: 20px;
}
.list-sidebar-title .icon-link-item {
  color: #585858;
  font-size: 16px;
  background-color: #fafafa;
  padding: 5px;
  border-radius: 100%;
  transition: 300ms all;
}
.list-sidebar-title .part-link-item {
  color: #585858;
  padding-right: 5px;
  font-size: 15px;
  transition: 300ms all;
}
.list-sidebar-title .icon-down {
  color: #585858;
  position: absolute;
  left: 0;
  font-weight: bolder;
  font-size: 10px;
  transition: 300ms all;
  top: 13px;
}
.list-sidebar-title .active-menu {
  collapse: true;
}
.list-sidebar-title .item-list-sidebar {
  position: relative;
  white-space: nowrap;
}
.list-sidebar-title .item-list-sidebar:hover p {
  font-weight: 600;
}
.list-sidebar-title .item-list-sidebar:hover .icon-link-item {
  color: white;
  background-color: #F49F0A;
  border-radius: 5px;
}
.list-sidebar-title .item-list-sidebar:hover .icon-down {
  color: #585858;
}
.list-sidebar-title .item-list-sidebar .list-sub-item {
  padding-right: 15px;
  list-style-type: none;
}
.list-sidebar-title .item-list-sidebar .list-sub-item .item-list-sub-item {
  width: 100%;
  position: relative;
}
.list-sidebar-title .item-list-sidebar .list-sub-item .item-list-sub-item span {
  color: #585858;
  font-size: 11px;
  font-weight: 200;
  transition: 300ms all;
}
.list-sidebar-title .item-list-sidebar .list-sub-item .item-list-sub-item p {
  color: #585858;
  font-size: 13px;
  padding-right: 7px;
  font-weight: 300;
  transition: 300ms all;
}
.list-sidebar-title .item-list-sidebar .list-sub-item .item-list-sub-item p:hover {
  font-weight: 600;
}

.logo-image {
  margin: 10px;
  height: 90px;
}

.user-panel {
  padding: 10px;
  margin-right: 20px;
  border-top: 1px solid #cbcfd3;
}

.main-sidebar {
  background-color: #E7cc8f;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 235px;
  overflow-y: auto;
  transition: 300ms all;
}
@media screen and (max-width: 991.98px) {
  .main-sidebar {
    position: absolute;
    right: -200px;
  }
}

.main-sidebar::-webkit-scrollbar {
  width: 9px;
  background-color: #0c0a0a;
}

.main-sidebar::-webkit-scrollbar-thumb {
  background-color: #258f26;
}

.show-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: auto;
}

.main-headerd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-top-panel {
  padding: 3px 15px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #fafafa;
  margin-left: 15px;
  width: auto;
}

.multi-line-title {
  max-height: 345px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical !important;
}

.menu-bar-icon {
  margin: 15px 35px 0 0;
  font-size: 20px;
  display: none;
  color: white;
}
@media screen and (max-width: 991.98px) {
  .menu-bar-icon {
    display: block;
  }
}

.main-shift {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 0;
  margin: 0 20px;
  background-color: white;
}
.main-shift .list-shift {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
  text-align: right;
  list-style-type: none;
  padding-right: 0;
  margin: 0;
}
.main-shift .list-shift .item-list-shift {
  width: calc(100% - 55px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2px 0;
  padding: 5px 10px;
  background-color: #500a0a;
  color: white;
  border-radius: 100px;
}

.nav-pills .nav-link {
  border-radius: 100px !important;
  white-space: nowrap;
}

.title-shift {
  font-weight: 800;
  border-bottom: 1px solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 100px;
  text-align: center;
}

.type-shift {
  background-color: #500a0a;
  color: white;
  padding: 0px 10px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 30px;
}

.sidebar {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px 0;
  margin: 10px 20px;
  background-color: white;
}

.nav-link {
  display: block;
  padding: 5px;
  width: calc(100% - 55px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-link:hover {
  color: #19191a !important;
  font-weight: 900;
}

.icon-info, .icon-edit, .icon-download {
  margin-left: 3px;
}

.nav-body {
  display: flex;
  flex-flow: column;
  align-items: center;
  white-space: nowrap;
}

.sub-item {
  white-space: nowrap;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 5px !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.sub-item:active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.icon-sub-list {
  color: #585858;
  font-weight: 200;
  transition: 300ms all;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 4px !important;
}

.box-title-page-part {
  color: rgb(9, 0, 0);
  font-size: 30px;
  font-weight: 800;
}

#pdate1 {
  font-size: 13px;
}

.wrapper-box-chart {
  background-color: #efefef;
  padding: 20px;
}
.wrapper-box-chart #chart_bar {
  height: 500px;
  width: calc(100% - 100px);
  margin: 0 auto;
  overflow: hidden;
}
.wrapper-box-chart #my_gauge {
  height: 500px;
  width: calc(100% - 100px);
  margin: 0 auto;
  overflow: hidden;
}
.wrapper-box-chart #my_radar {
  height: 500px;
  width: calc(100% - 100px);
  margin: 0 auto;
  overflow: hidden;
}

.zc-ref {
  display: none;
}

/*# sourceMappingURL=style-site.css.map */
